<mat-card class="mat-elevation-z12">
  <mat-card-content>
    <!-- <div>
      <input matInput value="Create a Group" readonly/>
    </div> -->
    <div *ngIf="!submitted">  
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Group Title" name="title" [(ngModel)]="group.title" required>
            <!-- <mat-error *ngIf="email.invalid">Email is required</mat-error> -->
          <mat-icon matSuffix>title</mat-icon>
        </mat-form-field>
        <!-- <mat-form-field>
          <input
            matInput
            placeholder="Password"
            type="password"
            required
            minlength="6"
            name="password"
            ngModel
            #password="ngModel">
            <mat-error
              *ngIf="password.errors && password.errors.required">
              Password is required
            </mat-error>
            <mat-error
              *ngIf="password.errors && password.errors.minlength">
              Password must be of length 6
            </mat-error>
          <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field> -->
        <button (click)="saveGroup()" mat-raised-button color="primary" class="login-button">
          Submit
        </button>
      </div>
    </div>
    <div *ngIf="submitted">
      <h7>Group has been created successfully !</h7>
      <button mat-raised-button color="primary" class="login-button" (click)="newGroup()">
      Create new Group
      </button>
    </div>
  </mat-card-content>
</mat-card>